<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<div id="categories">

  <table class="table table-primary table-hover">
    <!--Describe table head-->
    <thead>
      <tr>
        <th scope="col">Number</th>
        <th scope="col">Category name</th>
        <th scope="col">Description</th>
        <th scope="col">Link to edit/delete</th>
      </tr>
    </thead>

    <!--Block fill each category in row by iterate -->
    <tbody>
      <% @categories.each do |category| %>
        <%= render category%>
      <% end %>    
    </tbody>
    <!--end block fill each category in row by iterate -->
  </table>

 <button class="btn btn-outline-secondary">
    <%= link_to "New category", new_category_path %>
  </button>

  <!--Pagination-->
  <%= paginate @categories %>

</div>